.plottable-colors-0 {
  background-color: #be1e2d; /* red */
}

.plottable-colors-1 {
  background-color: #24abe2; /* blue */
}

.plottable-colors-2 {
  background-color: #8dc53f; /* lime */
}

.plottable-colors-3 {
  background-color: #f6921e; /* orange */
}

.plottable-colors-4 {
  background-color: #2e3191; /* indigo */
}

.plottable-colors-5 {
  background-color: #009345; /* green */
}

.plottable-colors-6 {
  background-color: #9122bf; /* violet */
}

.plottable-colors-7 {
  background-color: #edd95f; /* yellow */
}

.plottable-colors-8 {
  background-color: #848484; /* gray */
}

.plottable-colors-9 {
  background-color: #754d3f; /* brown */
}
